<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="blog.shooksweb.com" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^blog.shooksweb.com$" />
						<add input="{PATH_INFO}" pattern="^/blog-gatsby-20180718/" negate="true" />
					</conditions>
					<action type="Rewrite" url="\blog-gatsby-20180718\{R:0}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>